/* _base.scss */
$assets_path: "http://localhost:8000";

html, body, body > div {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
}

@font-face {
  font-family: "Moonshiner Sharp";
  src: url("http://localhost:8000/fonts/Moonshiner-Sharp.otf") format("opentype");
  font-weight: 100;
  font-weight: normal;
}

@font-face {
  font-family: "Moonshiner Round";
  src: url("http://localhost:8000/fonts/Moonshiner-Round.otf") format("opentype");
  font-weight: 100;
  font-weight: normal;
}
@font-face {
  font-family: "Galano Classic Bold";
  src: url("http://localhost:8000/fonts/Galano-Classic-Bold.otf") format("opentype");
  font-weight: 100;
}
