/* _grid.scss */
@import "~susy/sass/susy";

$total-columns: 12;

.container {
  @include container();
  max-width: 960px;
  .row .column:last-child {
    margin-right: 0;
  }
}
.column {
  float: left;
}
.column1 {
   @include span(1 of 12)
}
.column2 {
   @include span(2 of 12)
   &:eq(6) {
     margin-right: 0;
   }
}
.column3 {
   @include span(3 of 12)
}
.column4 {
   @include span(4 of 12)
}
.column5 {
   @include span(5 of 12)
}
.column6 {
   @include span(6 of 12)
}
.column7 {
   @include span(7 of 12)
}
.column8 {
   @include span(8 of 12)
}
.column9 {
   @include span(9 of 12)
}
.column10 {
   @include span(10 of 12)
}
.column11 {
   @include span(11 of 12)
}
.column12 {
   @include span(12 of 12)
}
