/* _mixins.scss */

@mixin my-padding-mixin($some-number) {
  padding: $some-number;
}
@mixin rotate($some-number) {
  -webkit-transform: rotate($some-number);
  -moz-transform: rotate($some-number);
  -ms-transform: rotate($some-number);
  -o-transform: rotate($some-number);
  transform: rotate($some-number);
  margin: 0 auto;
}

$filter: rgba(26, 46, 46, 0.65);
$hoverFilter: rgba(26, 46, 46, 0);

@mixin block($alcohol) {
  $url: 'http://localhost:8000/images/recipes/banner-'+$alcohol+'.png';
  background-image: linear-gradient($filter,$filter),url($url);
  background-size: auto 100%;
  transition: all .2s ease-out;
  &:hover {
    background-image: linear-gradient($hoverFilter,$hoverFilter),url($url);
  }
}

@mixin flyer($alcohol) {
  background-image: url('http://localhost:8000/images/recipes/banner-'+$alcohol+'.png');
  background-size: cover;
  transition: all .2s ease-out;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 40;
  &.active {
    display: block;
  }
}
