@import '_variables.scss';

@mixin my-padding-mixin($some-number) {
  padding: $some-number;
}
@mixin rotate($some-number) {
  -webkit-transform: rotate($some-number);
  -moz-transform: rotate($some-number);
  -ms-transform: rotate($some-number);
  -o-transform: rotate($some-number);
  transform: rotate($some-number);
  margin: 0 auto;
}

@mixin shade($url, $colorStart, $colorEnd) {
  background-image: url($url);
  &::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient($colorStart,$colorEnd);
    transition: 1.2s all ease-out;
  }
}


@mixin center() {
  margin: 0 auto;
}

@mixin shadeHover() {
  &:hover::before {
    opacity:0;
  }
}
@mixin block() {
  background-size: cover;
  transition: all .2s ease-out;
}
