/* _toolkit.scss */

@import "functions";
@import "mixins";
@import "variables";
@import "grid";

.lsn {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.tdn {
  text-decoration: none !important;
}
.center {
  margin: 0 auto;
}
.block {
  display: block;
}
