/* _variables.scss */
$darkActivePrimaryBg: #EAEAE8;
$darkActiveSecondaryBg: #1A2E2E;
$darkActivePrimaryText: #1A2E2E;
$darkActiveSecondaryText: #EAEAE8;

$lightActivePrimaryBg: #1A2E2E;
$lightActiveSecondaryBg: #EAEAE8;
$lightActivePrimaryText: #EAEAE8;
$lightActiveSecondaryText: #1A2E2E;
