/* _variables.scss */
$darkActivePrimaryBg: #EAEAE8;
$darkActiveSecondaryBg: #1A2E2E;
$darkActivePrimaryText: #1A2E2E;
$darkInactivePrimaryText: #EAEAE8;
$darkInactiveSecondaryText: #EAEAE8;
$darkActiveSecondaryText: #EAEAE8;

$lightActivePrimaryBg: #1A2E2E;
$lightActiveSecondaryBg: #EAEAE8;
$lightActivePrimaryText: #EAEAE8;
$lightInactiveSecondaryText: #1A2E2E;
$lightInactivePrimaryText: #0A597E;

$lightActiveSecondaryText: #1A2E2E;

$darkErrorTextPrimary: #293030;
$darkErrorTextSecondary: #FFFFFF;

$filter: rgba(26, 46, 46, 0.65);
$filterHeavy: rgba(26, 46, 46, 0.80);
$hoverFilter: rgba(26, 46, 46, 0);
