@import "toolkit";

.body {
  height: 5rem;
  width: 5rem;
  float: left;
  position: absolute;
  z-index: 500;
}

.wrapper {
  margin: 0;
  height: 100%;
  position: relative;
  //transition: background .25s ease-in-out;
  .title {
    transition: color .25s ease-in-out;
  }
}

.body {
  .title {
    color: $darkActivePrimaryBg;
    display: none;
  }
  &.active {
    width: 100vw;
    .panel {
      letter-spacing: 0;
      opacity: 1;
      left:0
    }
  }
  &.lightTone.active {
    .bar {
      background: $darkActivePrimaryBg;
    }
    .title {
      color: $lightActiveSecondaryText;
    }
  }
  &.darkTone.active {
    .bar {
      background: $darkActivePrimaryBg;
    }
    .title {
      color: $lightActiveSecondaryText;
    }
  }
  &.lightTone {
    .title {
      color: $lightActiveSecondaryText;
    }
  }
  &.darkTone {
    .title {
      color: $darkActiveSecondaryText;
    }
  }
}

.bar {
  position: relative;
  margin: 0;
  height: 100%;
  padding: 2rem 0;
  z-index: 120;
}

.title {
  padding: 0;
  margin: 0 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.darkTone {
  .body {
    position: absolute;
  }
  .title {
    color: $darkActivePrimaryBg;
  }
  .wrapper {
    border-right: none;
  }
}

.lightTone {
  .title {
    color: $lightActivePrimaryText;
  }
  &.active .wrapper {
    border-right: none;
  }
}

nav {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}
.itemLink:hover .item,
.itemLink:focus .item,
.itemLink:active .item {
  background: $lightActivePrimaryBgHover;
  position: relative;
  span:first-child {
    margin-left: 3.5rem;
    transition: margin-left 8s ease-out;
  }
  span:last-child {
    margin-left: 3.5rem;
    transition: margin-left 6s ease-out;
  }
}


li.item {
  color: $darkInactiveSecondaryText;
  padding: .5rem 2rem;
  width: 100%;


  &:not(.social) span:first-child {
    margin-left: 0;
    transition: margin-left 5s ease-out;
  }

  &:not(.social) span:last-child {
    margin-left: 0;
    transition: margin-left 4s ease-out;
  }

  &.social {
    position: absolute;
    bottom: 0;
    height: 6.5rem;
  }
  &.social:hover {
    position: absolute;
    padding-left: 2rem;
    color: $darkActiveSecondaryText;
    background: none;
  }
  &.social:hover::before, &.social:hover::after {
    display: none;
  }

  .socialIcons {
    list-style: none;
    padding: .2rem 0 0 0;
    margin: 0;
    color: $darkActiveSecondaryText;
    &:hover {
      padding-left: 0;
      background: none;
      &:hover::before, &:hover::after {
        display: none;
      }
    }
    li {
      display: inline-block;
      margin: 0 .2rem;
      vertical-align: top;
      &:first-child {
        margin-left:0;
      }
      &:last-child {
        margin-right:0;
      }
      img {
        transform: scale(1);
        transition: all .2s ease-out;
      }
      img:hover {
        transform: scale(1.2)
      }
    }
  }

  &:hover::before {
    content: '';
    width: 7px;
    background: $white;
    height: 1px;
    position: absolute;
    display: block;
    right: 1rem;
    top: 50%;
  }
  &:hover::after {
    content: '';
    display: block;
    border-right: 1px solid $white;
    border-bottom: 1px solid $white;
    width: 4px;
    height: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    right: 1rem;
    margin-top: -2px;
    top: 50%;
  }

  > span:first-child {
    font-size: .45rem;
    line-height: 1rem;
    font-style: italic;
    letter-spacing: .15rem;
  }
  > span:last-child {
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 1rem;
  }
}

.menuIconWrapper {
  position: absolute;
  top: 0;
  left: 2rem;
  margin-left: -10.5px;
  display: block;
  width: 21px;
  height: 17px;
}

.panel {
  background: $darkActiveSecondaryBg;
  position: absolute;
  left: -100vw;
  top: 0;
  z-index: 110;
  padding-top: 5rem;
  margin: 0;
  height: 100vh;
  width: 85vw;
  opacity: 0;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.5);
  background-image: url(http://localhost:8000/images/nav-stamp.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

@media (min-width: 415px) {
  .title {
    display: block;
  }

  li.item.social {
    height: 5.5rem;
    text-align: right;
    display: inline;
    width: auto;
    right: 0;
  }
}

@media (min-width: 768px) {
  .darkTone, .lightTone {
    .wrapper {
      border-right: 1px solid $darkActivePrimaryBg;
    }
  }
  .menuIconWrapper {
    left: 0;
    position: relative;
  }
  .wrapper {
    border-right: 1px solid $lightActivePrimaryBg;
  }
  .body {
    width: 5rem;
    height: 100vh;
    position: relative;
    z-index:500;
    &.active {
      width: auto;
      .panel {
        left: 4.95rem;
        opacity: 1;
      }
    }
    .title {
      display: block;
    }
  }
  .bar {
    width: 5rem;
  }
  .panel {
    background: $darkActiveSecondaryBg;
    position: absolute;
    top: 0;
    left: -18rem;
    padding-top: 0;
    z-index: 110;
    margin: 0;
    min-height: 100%;
    width: 18rem;
    opacity: 0;
    transition: left .5s ease-in-out;
    box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.5);
    background-image: url('http://localhost:8000/images/nav-stamp.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .title {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    position: absolute;
    z-index: 120;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: 35% -29%;
  }
  .menuIconWrapper {
    right: auto;
    @include center();
  }
  nav {
    list-style: none;
    padding: 2rem 0;
    height: 100vh;
    position: relative;
  }
  .item {
    padding: 1rem 2rem;
    span:last-child {
      font-size: 1.25rem;
    }
  }

  li.item.social {
    height: 6.5rem;
    text-align: normal;
    display: block;
    width: auto;
    right: initial;
  }
}

@media (min-width: 992px) {

  .item {
    padding: 1.75rem 2rem;
  }
}
