@import "mixins";

.menu {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem 0;
  margin: 0;
  height: 100vh;
}

.menuWrapper {
  position: relative;
  margin: 0;
  min-height: 100%;
  border-right: 1px solid white;
  width: 5rem;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: 35% -29%;
}

.menuIconWrapper {
  display: block;
  width: 21px;
  height: 17px;
}
