@import "toolkit";
@import "./_Pages";
.error404 {
  .wrapper {
    width: 28rem;
    position: absolute;
    top: 30%;
    right: 50%;
    h1, p {
      margin: 0;
    }
    h1 {
      font-family: "Galano Classic Bold";
      font-size: 10rem;
      color: $darkErrorTextPrimary;
    }
    p {
      font-size: 0.8rem;
      color: $darkErrorTextSecondary;
      margin-top: -5rem;
      margin-left: 4rem;
    }
  }
}
