@import "toolkit";
@import "./_Pages";

.body {
}
.collageTwo, .collage {
  display: none;
}

.listFrame {
  width: 100%;
  height: 30rem;
}


.videoHeader, .attendeesHeader, .drinksHeader {
  top: -1.5rem;
  left: -3rem;
  z-index: 0;
}

.frame {
  display: block;
}

@media (min-width: 415px) { // Desktop
  .frame {
    display: block;
  }
}

@media (min-width: 768px) {
  .listFrame {
    height: 25rem;
    width: 70%;
  }
  .videoHeader, .attendeesHeader, .drinksHeader {
    h3 {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) { // Desktop
  .eventDescription {
    margin-bottom: 2rem;
  }
  .body {
    .row {
      padding: 0;
    }
    .video {
      margin-top:4rem;
    }
    .attendees {
      margin-bottom:4rem;
    }
    .mediumParagraph {
      margin-bottom: 4rem;
    }
    .collageTwo {
      height: 30rem;
      margin-bottom: 6rem;
      display: block;
    }
    .collage {
      display: block;
    }
    .videoHeader, .attendeesHeader, .drinksHeader {
      z-index: 0;
      h3 {
        font-size:3rem;
        letter-spacing: 1.3rem;
      }
    }
    .videoHeader {
      top: -3.5rem;
      left: -3rem;
    }
    .attendeesHeader {
      top: 94%;
      left: -3rem;
    }
    .drinksHeader {
      top: 3%;
      left: 0rem !important;
    }
  }
}

@media (min-width: 991px) {
  .body {
    .drinksHeader {
      top: 3%;
      left: 15rem !important;
    }
  }

}
