@import "toolkit";
@import "./_Pages";

.body {
}

@media(min-width:768px) {
}

@media (min-width: 992px) { // Desktop
  .eventDescription {
    margin-bottom: 2rem;
  }
  .body {
    .row {
      padding: 0;
    }
    .mediumParagraph {
      margin-bottom: 4rem;
    }
  }
}
