@import "./_Pages";

.body.home {
  display: flex;
  .logoWrapper {
    padding: 2rem;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    width: 100vw;
    height: 100vh;
    display: flex;
  }
}

.homeLogo {
  max-width: 100%;
}
