@import "toolkit";

$activePrimaryBg: #EAEAE8;
$activeSecondaryBg: #1A2E2E;
$activePrimaryText: #1A2E2E;
$activeSecondaryText: #EAEAE8;

.body {
  display: flex;
  height: 100vh;
  font-size: inherit;
}
.home {
  padding: 2rem;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.homeLogo {
  max-width: 100%;
}

.recipes {
  display: flex;
  flex-direction: row;
}

.recipesBlockText {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.75rem;
  z-index: 20;
  text-shadow: 0 3px 3px black, 0 3px 3px black;
  & > span:first-child {
    font-size: 2.5rem;
    font-family: "Moonshiner Round";
    color: $activeSecondaryText;
    letter-spacing: .4rem;
  }
  & > span:last-child {
    margin-right: 0rem;
    transition: margin-right 1s ease-out;
    position: relative;
    color: $activeSecondaryText;
    font-size: 8px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .2rem;
  }
}

.fill {
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.recipesBlock {
  flex-grow: 1;
  display: block;
  position: relative;
  &:hover .recipesBlockText > span:last-child {
    margin-right: 1.5rem;
    &::after {
      content: '\2192';
      position: absolute;
      top: -9px;
      right: -18px;
      text-shadow: 0 3px 3px black, 0 3px 3px black;
      font-weight: bold;
    }
  }
  &::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient($filter,$filter);
    transition: 1.2s all ease-out;
  }
  &:hover::before {
    opacity:0;
  }

  &.whiskeyBlock {
    @include block('whiskey');
    background-position: -5rem 0px;
  }
  &.vodkaBlock {
    @include block('vodka');
    background-position: 55% 0;
  }
  &.ginBlock {
    @include block('gin');
    background-position: 35% 0;
  }
  &.rumBlock {
    @include block('rum');
    background-position: 0 0;
  }
  &.tequilaBlock {
    @include block('tequila');
    background-position: 45% 0;
  }
}
.whiskeyFlyer {
  @include flyer('whiskey');
  background-position: -5rem 0;
}

.vodkaFlyer {
  @include flyer('vodka');
  background-position: -5rem 0;
}

.ginFlyer {
  @include flyer('gin');
  background-position: -5rem 0;
}

.rumFlyer {
  @include flyer('rum');
  background-position: -5rem 0;
}

.tequilaFlyer {
  @include flyer('tequila');
  background-position: -5rem 0;
}
