@import "toolkit";
@import "./_Pages";

.makeBackground {

}

.body.recipe {
  padding: 2rem 1.5rem;
  padding-top: 5rem;
  overflow-y: scroll;
  a {
    text-decoration-color: $lightInactiveSecondaryLink;
    h6 {
      color: $lightInactiveSecondaryLink;
    }
  }
  .primaryPhoto {
    display: none;
    padding: 3rem 0;
  }
  .row {
    margin-bottom: 2rem;
  }
}

@media(min-width:768px) {
  .body.recipe {
    padding: 3rem;
    .primaryPhoto {
      display: block;
      padding: 0 2rem;
    }
  }
}

@media (min-width: 992px) { // Desktop
}
