@import "toolkit";
@import "./_Pages";

.makeBackground {

}

.body.recipe {
  padding: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  p {
    font-size: .9rem;
  }
  .banner {
  }
  .primaryPhoto {
    display: none;
    padding: 3rem 0;
    margin-bottom: 5rem;
  }
  .row {
    margin-bottom: 2rem;
  }
  .recipeList {
    padding: 0;
    text-align: center;
    width: 100%;
    max-width: 22rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3rem;
    li {
      color: $lightInactiveSecondaryLink;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-family: "Moonshiner Sharp";
      &:hover {
        color: $lightActiveSecondaryLink;
      }
    }
  }
  .instructions {
    padding: 0;
    span, p {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    p {
      padding: 2rem;
    }
  }
}

.recipe.rumAlcohol {
  .banner {
    overflow: hidden;
    .accent {
      height: 100%;
      left: 55%;
      z-index: 10;
      bottom: -20%;
    }
  }
}

@media(min-width:768px) {
  .body.recipe {
    padding: 3rem;
    p {
      font-size: .6rem;
      line-height: 1.3rem;
    }
    .primaryPhoto {
      display: block;
      padding: 0;
      margin: 0;
    }
    .instructions {
      span, p {
        font-size: .9rem;
      }
    }
  }
  .rumAlcohol {
    .primaryPhoto {
      height: 500px;
    }
  }
}
