@import "toolkit";
@import "../components/Page/Page";

.body.recipeList {
  padding: 0;
  padding-top: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  a {
    text-decoration-color: $lightInactivePrimaryLink;
    h6 {
      color: $lightInactivePrimaryLink;
    }
  }
  .primaryPhoto {
    display: none;
    padding: 3rem 0;
    margin-bottom: 5rem;
  }
  .row {
    padding: 2rem 1.5rem;
  }
  .list {
    padding: 0;
    text-align: center;
    width: 100%;
    max-width: 22rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3rem;
    li {
      color: $lightInactiveSecondaryLink;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-family: "Moonshiner Sharp";
      &:hover {
        color: $lightActiveSecondaryLink;
      }
    }
  }
}

.rumAlcohol {
  .banner {
    .accent {
      width: 60%;
      bottom: -10%;
      left:50%;
      right: auto;
      z-index:10;
    }
  }
}

@media(min-width:415px) {

}

@media(min-width:768px) {
  .body.recipeList {
    padding: 3rem;
    margin-left: 5rem;
    .primaryPhoto {
      display: block;
      padding: 0 2rem;
    }
  }
}

@media (min-width: 992px) { // Desktop
}
