@import "toolkit";
@import "../components/Page/Page";

.tickets {
  padding: 2rem 1.5rem 2rem;
  padding-top: 5rem;
  overflow-y: scroll;
  height: 100%;
  .primaryPhoto {
    display: none;
    padding: 3rem 0;
  }
  .row {
    margin-bottom: 3.5rem;
  }
  .paymentOption {
    margin-bottom: 2rem;
    h1 {
      margin-bottom: .5rem;
    }
    span {
      font-family: "Galano Classic Bold";
      font-size: .8rem;
      letter-spacing: .35rem;
      color: $lightInactiveSecondaryText;
      font-style: italic;
      font-weight: 100;
      margin: 0 0 1rem;
    }
    p {
      margin-top: .75rem;
    }
    h6 {
      margin-bottom: .5rem;
    }
  }
}


@media (min-width: 768px) { // Tablet
  .tickets {
    margin-left: 5rem;
    h1 {
      letter-spacing: .8rem;
      font-size: 2.2rem;
    }
    h2 {
      letter-spacing: .6rem;
    }
    .mediumParagraph {
      font-size:.625rem;
      line-height: 1.3rem;
    }
    .primaryPhoto {
      display: block;
    }
    .primaryFrame {
      display: block;
    }
  }
}

@media (min-width: 992px) { // Desktop
  .tickets {
    padding: 3rem;
    .mediumParagraph {
      font-size:.625rem;
      line-height: 1.3rem;
    }
    h1 {
      letter-spacing: .8rem;
      font-size: 3rem;
    }
  }
}

@media (min-width: 1200px) { // Large Displays
  .tickets h1 {
    letter-spacing: 1rem;
  }
}
