@import "toolkit";

.centerAbs {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  &, ul, li .slide {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  &.darkTone {
    color: $darkInactivePrimaryText;
  }
  .controls {
    position: absolute;
    z-index: 40;
    width:100%;
    bottom:15%;
    text-align: center;
    p span.arrow {
      margin: 0 2.5rem;
    }
  }
  p {
    font-family: "Galano Classic Bold";
    margin: 0;
  }
  li .slide {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    .fg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      text-align: center;
      .layer:first-child {
        margin-top: -10%;
      }
      h1 {
        font-size: 5rem;
        font-family: "Moonshiner Sharp";
        font-weight: 100;
        font-weight: 100;
        line-height: 5rem;
        margin: 0;
        font-size: 6.5rem;
        line-height: 9.5rem;
        letter-spacing: .75rem;
      }
    }
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      z-index: 10;
    }
    &.active {
      display: block;
    }
  }

  li .slide1 {
    .bg {
      $url: 'http://localhost:8000/images/events/hero/1.jpg';
      @include shade($url, $filterHeavy , $filterHeavy);
    }
  }
}
