@import "toolkit";

.app {
  font-size: inherit;
  min-height: 100vh;
}

.body {
  font-size: inherit;
}

.lightTone {
  font-family: inherit;
}

.darkTone {
  font-family: inherit;
}

@media (min-width: 768px) {
  .body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
